import * as React from 'react';

import * as T from '../types';
import './<%=subComp.fileName%>.less';
import actions from '../actions/index';
import { connect } from 'react-redux';
import {store2Props} from "../selectors";


type I<%=Util.toUCamelize(subComp.fileName)%>Props = T.IAllReducerProps & T.ActionType & T.I<%=Util.toUCamelize(subComp.fileName)%>Props;

@connect(store2Props,actions)
class <%=Util.toUCamelize(subComp.fileName)%> extends React.Component<I<%=Util.toUCamelize(subComp.fileName)%>Props, T.I<%=Util.toUCamelize(subComp.fileName)%>State> {
  constructor(props:I<%=Util.toUCamelize(subComp.fileName)%>Props) {
    super(props);
  }

  render() {
    return (
      <div className="<%=Util.toLCamelize(subComp.fileName)%>">
         <div/>
      </div>
    );
  }
}

export default <%=Util.toUCamelize(subComp.fileName)%> as any;
