import * as React from 'react';

import { IProps ,I<%=Util.toUCamelize(subComp.fileName)%>State,I<%=Util.toUCamelize(subComp.fileName)%>Props} from '../types';
import './<%=subComp.fileName%>.less';
import actions from '../actions/index';
import { connect } from 'react-redux';
import {store2Props} from "../selectors";

@connect(store2Props,actions)
class <%=Util.toUCamelize(subComp.fileName)%> extends React.Component<IProps & I<%=Util.toUCamelize(subComp.fileName)%>Props, I<%=Util.toUCamelize(subComp.fileName)%>State> {
  constructor(props:IProps & I<%=Util.toUCamelize(subComp.fileName)%>Props) {
    super(props);
  }

  render() {
    return (
      <div className="<%=Util.toLCamelize(subComp.fileName)%>">
         <div/>
      </div>
    );
  }
}

export default (<%=Util.toUCamelize(subComp.fileName)%> as any ) as React.Component<I<%=Util.toUCamelize(subComp.fileName)%>Props, I<%=Util.toUCamelize(subComp.fileName)%>State>;
// export default Info;
