import * as React from 'react';

import * as T from '../types';
import './<%=subComp.fileName%>.less';
import actions from '../actions/index';
import { connect } from 'react-redux';
import {store2Props} from "../selectors";


type I<%=Util.toUCamelize(subComp.fileName)%>Props = T.IProps & T.I<%=Util.toUCamelize(subComp.fileName)%>Props;

@connect(store2Props,actions)
class <%=Util.toUCamelize(subComp.fileName)%> extends React.Component<I<%=Util.toUCamelize(subComp.fileName)%>Props, T.I<%=Util.toUCamelize(subComp.fileName)%>State> {
  constructor(props:I<%=Util.toUCamelize(subComp.fileName)%>Props) {
    super(props);
  }

  render() {
    let {actions:{
        <% pageInfo.actions.forEach(action=>{ %>
            <%=Util.toLCamelize(action.fileName) %> ,
        <% }) %>
    }, <% pageInfo.actors.forEach(actor=>{ %>
                    <%=Util.toLCamelize(actor.fileName)%> ,
      <% }) %>
    } =  this.props;

    return (
      <div className="<%=Util.toLCamelize(subComp.fileName)%>">
         <div/>
      </div>
    );
  }
}

export default <%=Util.toUCamelize(subComp.fileName)%> as any;
